html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 90%;
  margin: auto;
  background: #efefe7;
  color: #4e443c;
  font-family: Glory;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  vertical-align: middle;
}

.main {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

h1 {
  margin: 40px 40px;
  background: #71cfe1;
  padding: 10px 20px;
  border: solid 1px #25b6d2;
  border-radius: 5px;
}

p {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: -60px;
  border-bottom: solid 2px #25b6d2;
}

img {
  flex: 0 0 50%;
  height: 400px;
  padding: 0%;
}

a {
  text-decoration: none;
  padding: 10px 10px;
  font-weight: 400;
  color: #000;
  margin-bottom: 20px;
}

a:hover {
  background-color: #000;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
