html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #f1f1e9;
  color: #4e443c;
}

h2 {
  color: #f14e32;
}

img {
  width: auto;
  height: 200px;
}
